/* Estilos Personalizados para o Tema MBO Advocacia */

.navbar {
    margin-bottom: 20px;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    text-align: center;
}

/* Animação para o card de experiência */
.experience-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlideUp 1s ease-out 0.5s forwards;
    margin-bottom: 1rem; /* Adiciona um espaço abaixo do card */
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
